<nav class="nav-container">
    <ul class="nav-ul">
        <li class="nav-li"><a class="nav-link" href="/">Home</a></li>
        <li class="nav-li"><a class="nav-link" href="/user">Photographers</a></li>
        <li class="nav-li"><a class="nav-link" href="/photos">Photos</a></li>
        <li class="nav-li"><a class="nav-link" href="/user/new">Create an Account</a></li>
        <li class="nav-li"><a class="nav-link" href="/profile">My Profile</a></li>
        <li class="nav-li"><a href="/logout" class="nav-link">Logout</a></li>
    </ul>
</nav>