<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./partials/head') %>
    <title>Error</title>
</head>
<body class="user-index-body">
    <main>
        <%- include('./partials/nav') %>
        <h1 class="title"><%= message %></h1>
    </main>
</body>
</html>