<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./partials/head') %>
    <title>Photo App Home</title>
</head>
<body class="home-body">
    <main class="home-main">
        <h1 class="home-title">Welcome to PhotoApp</h1>
        <div class="home-actions">
            <a class="home-action-button" href="/user/new">Create Account</a>
            <a class="home-action-button" href="/login">User Login</a>
            <a class="home-action-button" href="/user">Photographers</a>
            <a class="home-action-button" href="/photos">Photos</a>
        </div>
    </main>
</body>
</html>