<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./partials/head') %>
    <title>Photo App Home</title>
</head>
<body class="home-body">
    <main class="home-main">
        <h1 class="home-title">Welcome to PhotoApp!</h1>
        <div class="home-actions">
            <a class="home-action-button" href="/user/new">Create an Account</a>
            <a class="home-action-button" href="/user">View the Photographers</a>
            <a class="home-action-button" href="/photos">View the Photos</a>
        </div>
    </main>
</body>
</html>