@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    color: #000;
    font-family: 'Rubik', sans-serif;
}
.home-body {
    background-image: url("https://images.unsplash.com/photo-1506241537529-eefea1fbe44d?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1350&q=80");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100vh;
}
.home-main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 80vh;
}
.home-title {
    color: #fff;
}
.home-actions {
    width: 500px;
    display: flex;
    justify-content: space-between;
    font-weight: bold;
}
.home-action-button {
    color: #fff;
}
.home-action-button:focus {
    color: red;
}
.user-index-body {
    background-image: url("https://images.unsplash.com/photo-1554048612-b6a482bc67e5?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1350&q=80");
    background-repeat: no-repeat;
    background-size: cover;
}
.title {
    text-align: center;
    margin: 24px 0;
}
.user-ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.user-li {
    display: flex;
    flex-direction: column;
    background-color: rgba(255,255,255,.6);
    margin: 5px 0;
    justify-content: center;
    align-items:center;
    padding: 10px 0;
    font-size: 20px;
    position: relative;
    width: 60%;
}
.user-link:focus {
    color: red;
}
.user-actions {
    display: flex;
    width: 9%;
    justify-content: space-between;
    position: absolute;
    right: 20px;
    align-items: center;
}
.action-button {
    font-size: 16px;
    background: none;
    /* border: 2px solid transparent; */
    text-decoration: underline;
    cursor: pointer;
}
.action-button:focus {
    color: red;
}
.nav-ul {
    display: flex;
    justify-content: space-evenly;
    list-style: none;
    width: 40%;
    margin: 20px auto;
}
.nav-link:focus {
    color: red;
}
.user-photo-thumb {
    height: 200px;
    width: auto;
    margin: 5px;
}
.all-user-photos {
    display: flex;
    align-content: flex-start;
    flex-wrap: wrap;
}
.featured-user-photo {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.about-photo {
    margin: 15px 0;
}
.form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 40%;
    margin: 0 auto;
}
.form-input {
    margin-bottom: 10px;
}
.edit-photo-div {
    display: flex;
}
.user-photo-edit {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.submit-button {
    background: none;
    padding: 5px;
    cursor: pointer;
    border: 1px solid #000;
}
.submit-button:focus {
    color: red;
    border: 1px solid red;
}
.photo-index-all {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.photo-actions {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 20%;
}