<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head') %>
    <title>Create New Account</title>
</head>
<body>
    <main>
        <h1>Create a New Account</h1>
        <form action="/user" method="POST">
            Name: <input type="text" name="username">
            Password <input type="text" name="password">
            Photo URLs: <input type="text" name="photos">
            <input type="submit" value="Create Account">
        </form>
    </main>
    <%- include('../partials/nav') %>
</body>
</html>